<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlienFruit.FluentConsole" version="1.0.10" targetFramework="net48" />
  <package id="AlienFruit.FluentConsole.AsciiArt" version="1.0.10" targetFramework="net48" />
  <package id="AlienFruit.Otml" version="1.1.0" targetFramework="net48" />
  <package id="App.Metrics.Abstractions" version="4.2.0" targetFramework="net48" />
  <package id="App.Metrics.Formatters.Ascii" version="4.2.0" targetFramework="net48" />
  <package id="AsciiArtLibrary" version="1.0.0" targetFramework="net48" />
  <package id="Cake.Figlet" version="2.0.1" targetFramework="net48" />
  <package id="Figgle" version="0.4.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net48" />
  <package id="TextToAsciiArt" version="1.0.14.15" targetFramework="net48" />
</packages>